[submodule "backend/include/httplib"]
	path = backend/include/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "backend/include/json"]
	path = backend/include/json
	url = https://github.com/nlohmann/json.git
